body
{
    background-image: url("background.jpg");
}
header
{
    background-color: cadetblue;
    text-align: center;
    color: black;
}
header hr
{
    color: black;
    height: 100px;
}
header h1
{
    color: black;
    font-size: 70px;
}
nav
{
    text-align: center;
    background-color: slategrey;
}
nav a
{
    font-size: 20px;
    text-decoration: none;
    color: cornsilk;
    margin: 10px;
}
.WorkDiv
{
    background-color: cadetblue;
    text-align: center;
}
.mainDiv
{
    background-color: cadetblue;
    text-align: center;
}
.WorkOpenDiv
{
    display: none;
    text-align: center;
}
.AboutmeDiv
{
    text-align: center;
    background-color: cadetblue;

}
hr
{
    border-top: 10px solid black;
}
footer
{
    background-color: cadetblue;
    text-align: center;
}
footer hr
{
    border-top: 5px solid black;
}
.WorkButton
{
    border-radius: 50px;
    background-color:darkcyan;
    border:thin 2px black;
}
button:hover
{
    background-color: cadetblue;
}